.App {
  text-align: center;
  display: block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button_wrapper{

width: 100%;
padding-top: 50px;
padding-bottom: 25px;
}

.update-button{

padding: 25px;
font-size: larger;
border: none;
background-color: #B78628;
color: #282c34;

border-radius: 5px;
letter-spacing: 2px;
}

button.update-button:hover{
  cursor: pointer;
 
  
}

.display-real-time-wrapper{

  font-size:100px;
}

.display-real-date-time-wrapper{
  padding-top: 20px;
  font-size: 25px;
  font-weight: lighter;
  
}
.display-time-changed-wrapper{
  display: flex;
  justify-content: center ;
  
  margin-top: 200px;
  
  
}
.inside-real-time{
  display: block;
  justify-content: center ;
  background-color: black;
 
  width: fit-content;
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 35px;
  letter-spacing: 4px;

}
.inside-real-time-header-title{
  color: white;
}

.inside-real-time-in{
  padding-top: 10px;
    display: flex;
}
.hours-in{

  padding-left: 4px;
  padding-right: 4px;
  color: white;
  font-size: 80px;
  

}

.update-button-stop{
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: larger;
  border: none;
  background-color: rgb(131, 130, 129);
  border-radius: 5px;
  }

  
  
  button.update-button-stop:hover{
    cursor: pointer;
    filter:grayscale(0.5);
    
  }